<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi Chat - Enter Username</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1 class="title">Hi Chat</h1>
    <div class="main">
      <div class="username-box">
        <h2>Enter Your Username</h2>
        <form action="/chatroom" method="POST" id="join-form">
          <input
            type="text"
            id="username-input"
            name="username"
            class="username-input"
            placeholder="Enter username"
          />
          <button id="join-btn" class="join-button">Join Chat</button>
        </form>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
