<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="./chat-style.css" />
</head>
<body>
    <h1 class="title">Hi Chat</h1>
    <div class="main">
        <div class="name">
            <span><i class="far fa-user"></i></span>
            <input
                type="text"
                value="<%= username %>"
                id="name-input"
                class="name-input"
            />
        </div>
        <ul class="message-container" id="message-container">
        </ul>
        <form class="message-form" id="message-form">
            <input type="text" class="message-input" id="message-input" placeholder="Type a message..." />
            <button type="submit" class="send-button">
                Send
                <span><i class="fas fa-paper-plane"></i></span>
            </button>
        </form>
    </div>
    <h3 class="clients-total" id="clients-total">Total Clients: 2</h3>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</body>
</html>
